table, th, td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.4em;
}
.body > * {
  margin-bottom: 12px;
}
nav[epub|type="toc"] ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.toc-level-1 {
  margin-top: 1em;
  font-weight: bold;
}

.toc-level-2 {
  margin-left: 10px;
  padding-left: 10px;
  line-height: 1.6;
  text-indent: 0;
}

.toc-level-2 a {
  text-decoration: none;
  color: inherit;
  word-break: break-word;
}
